.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
  

}

.header {
  /* height: 100vh;
  min-height: 600px; */
  min-height: 756px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;

  /* выше установили ограничения для секции */
}
.logo {
  width: 183px;
  
}
.logo_place_header {
  left: 64px;
  top: 30px;
  position: absolute;
  height: 32px;
}
.header__title {
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  left: 64px;
  top: 210px;
  position: relative;
  justify-content: center;
  text-align: left;
}
.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  align-items: baseline;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__main-illustration {
  display: flex;
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  top: 64px;
  display: flex;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.description {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.two-columns {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding: 0;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}
.two-columns__main-text {
  max-width: 80%;
  min-width: 784px;
  min-height: 100%;
  margin: 0;
}
.two-columns__span-accent {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}
.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin: 20px auto 60px;
  width: 60%;
}
.table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  
}
.table__cell {
  width: 250px;
  
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.feynman {
  min-height: 790px;
  position: relative;
  margin-top: 100px;
  padding: 0;
  background-color: #f2f2f2;
}
.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  position: relative;
  text-align: center;
  z-index: 2;
}

.feynman__subtitle {
  width: fit-content;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  padding-top: 0;
  z-index: 2;
  position: relative;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  margin: 0;
  top: 50%;
  right: 48px;
  text-align: right;
  text-decoration: none;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.kaufman {
  background-color: #1f1f1f;
  position: relative;
  padding-bottom: 90px;
  overflow: hidden;
  z-index: 0;
}

.section__title_theme_dark {
  color: white;
  padding-top: 90px;
  margin: 0 auto;
}
.section__subtitle_theme_dark {
  color: white;
  padding-top: 20px;
  padding-bottom: 80px;
  margin: 0 auto;
}
.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  z-index: -1;
  top: 0;

}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 0;
  padding: 0;

}

.table__heading_theme_dark {
  margin-top: 80px;
}
.table__text_theme_dark {
color: white;
}
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}
.logo_place-footer {
  
  height: 35px;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  bottom: 0px;
  position: absolute;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}
.footer__column-links {
  
  padding: 0;
  list-style-type: none;
}
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}
.footer__social-icon {
  padding-right: 10px;
}
